<p class="text-success"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <%= render @recipe %>
  </div>
</div>

<div class="mt-4">
  
  <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary mr-2" %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
